 /* ========== MAIN BTN ========== */
 button {
   position: relative;
   display: inline-block;
   cursor: pointer;
   outline: none;
   border: 0;
   vertical-align: middle;
   text-decoration: none;
   font-family: inherit;
   font-size: 15px;
 }

 button.main-btn {
   position: relative;
   display: inline-block;
   cursor: pointer;
   outline: none;
   border: 2px solid #b18597;
   border-radius: 0.75em;
   vertical-align: middle;
   text-decoration: none;
   font-family: inherit;
   font-size: 15px;
   font-weight: 600;
   color: #a192a1;
   text-transform: uppercase;
   padding: 1.1em 1.8em;
   background: #fff0f0;
   overflow: visible;
   transform-style: preserve-3d;
   transition: background 150ms cubic-bezier(0, 0, 0.58, 1),
     transform 150ms cubic-bezier(0, 0, 0.58, 1);
 }

 button.main-btn::before {
   position: absolute;
   content: '';
   inset: 0;
   background: #f9c4d2;
   border-radius: inherit;
   box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e200;
   transform: translate3d(0, 0.75em, -1em);
   transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
     box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
   pointer-events: none;
 }

 button.main-btn:active {
   background: #ffe9e9;
   transform: translate(0em, 0.75em);
 }

 button.main-btn:active::before {
   box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
   transform: translate3d(0, 0, -1em);
 }


 .main-btn-spacer {
   padding: 1.25em 2em;
 }

 .banner-btns {
   display: flex;
   gap: .9rem;
   align-items: center;
   flex-wrap: wrap;
 }

 .banner-btns a {
   font-weight: 600;
   text-decoration: none;
   color: #a192a1;
   padding: .8rem 1rem;

   z-index: 1;
 }

 .banner-btns a:hover {
   border-radius: 0.75em;
   outline: 3px dashed #b18597;
   outline-offset: 3px;
   border-color: #b18597;
   background: #ffe9e9;

 }
